@{
    ViewBag.Title = "About";
}

<div class="action-content">    
    <hgroup class="title">
        <h4 class="align-center">@ViewBag.Title</h4>
    
    </hgroup>

    <article>
        <p>
                       Cooks Corner is a Cooking related video tutorials web site that provide 
            quality tutorials of various country.
            To get email notification, please subscribe with your email. If you want to post
            some amazing recipe please register and go to your account where you will find option
            to add your own recipe. I think you will enjoy this site .  
        
         </p>

    </article>
</div>

