@{
    ViewBag.Title = "Index";
}

<div class="row">
    <a class="col-md-5 control-button align-center" href="/video">
        <h4>Manage Video 
            <br />
            Recipe
        </h4>
    </a>

    <a class="col-md-5 control-button align-center" href="/writtentutorial">
        <h4>Manage Written
            <br />
            Recipe
        </h4>
    </a>
</div>
<div class="row">
    <a class="col-md-5 control-button align-center" href="/genre">
        <h4>Manage Recipe
            <br />
            Category
        </h4>
    </a>

    <a class="col-md-5 control-button align-center" href="/faq">
        <h4>Manage Frequently
            <br />
            asked question
        </h4>
    </a>
</div>

<div class="row">
    <a class="col-md-5 control-button align-center" href="/subscriber">
        <h4>Manage Subscriber
        </h4>
    </a>
</div>
